
:root{


    --primary-color :linear-gradient(rgba(229,228,255),rgb(159, 45, 253));
    --secondary-color: rgb(207, 149, 255);
    --tertiary-color:rgba(226, 238, 255, 0.533);
    --pastel-color:rgba(255, 255, 227, 0.342);
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.143), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     --dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.441);
    --font-dark-color: black;
    --background-image: url('https://i.pinimg.com/originals/aa/6a/0e/aa6a0e9ecb4be2a2881d976eb70d4216.jpg');

   --purple-color: rgb(150, 0, 250);

}


.alegreya-bold {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Alegreya", Arial, sans-serif;
  background-color: rgb(214, 117, 117);
}

#quiz {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #66ebf0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
}

h1 {
  text-align: center;
  color: #333333;
}

h2 {
  font-weight: 700;
  font-style: italic;
}

#question {
  margin-bottom: 20px;
}

#options {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  background-color: pink;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.themedBackground__3a4c0{
    background: transparent;
 border-radius: 0.5vw;
    margin: 0.5vw;
    padding: 0vw 0vw;
    border: 4px dashed rgb(255, 179, 0);
    box-shadow: var(--dark-shadow);
}

.hidden {
    display: none;
}
